<script type="text/javascript" src="/js/sysadmfunctions.js"></script>
<script type="text/javascript" src="/js/infrastructurelist.js"></script>

<script type="text/javascript">
	var projectHost = new Array();
	var osVersionHost = new Array();
	{{range $index,$line := .HostData}}
	projectHost[{{ $line.hostid }}] = {{ $line.projectid }};
	osVersionHost[{{ $line.hostid }}] = {{ $line.OsVerInfo }};
	{{ end }}

	function ChangeVersion(osid){
		var osVerList = new Array();
		{{ range $index, $line := .osVerList }}
		{{ $line }}
		{{ end }}
		var newOption;
		var osVersion = document.getElementById("osversionid");
		osVersion.options.length = 0; 
		
		var selectVersionID = 0;
		if(osid == "0") {
			newOption = new Option("--请选择版本--", "0");
			newOption.style.backgroundColor = "#045283";
			osVersion.options.add(newOption);
		} else {
			for (var j in osVerList[osid]) {
				if(j == 0 ){
					selectVersionID = osVerList[osid][j][0];
				}

				newOption = new Option(osVerList[osid][j][1], osVerList[osid][j][0]);
				newOption.style.backgroundColor = "#045283";
				osVersion.options.add(newOption);
			}
		}
		ChangeYumList(selectVersionID); 
	}

	function ChangeYumList(versionid){
		{{range $index,$line := .yumList }}
		{{$line}}
		{{end}}

		var tableObj = document.getElementById("yumlist");
		var rowscount = tableObj.rows.length;

		for(i=rowscount - 1;i>0; i--){
			tableObj.deleteRow(i);
		}


		var osSelected = document.getElementById("osID");
		var index = osSelected.selectedIndex;
		var osID = osSelected.options[index].value
		if(versionid !=0 ){
			var yl = yumList[osID][versionid]
			for (var i in yl){
				var yumID = yl[i][0]
				var yumName = yl[i][1]
				var yumTypeName = yl[i][2]
				var yumCatalog = yl[i][3]

				var trObj = document.createElement("tr");
				var tdObj0 = document.createElement("td");
				var inputObj = document.createElement("input");
				inputObj.type = "checkbox";
				inputObj.id = "yumid[]";
				inputObj.name = "yumid[]";
				inputObj.value = yumID;
				tdObj0.appendChild(inputObj)
				trObj.appendChild(tdObj0);

				var tdObj = document.createElement("td");
				tdObj.textContent = yumName;
				trObj.appendChild(tdObj);

				var tdSec = document.createElement("td");
				tdSec.textContent = yumTypeName;
				trObj.appendChild(tdSec);

				var tdThree = document.createElement("td");
				tdThree.textContent = yumCatalog;
				trObj.appendChild(tdThree);

				tableObj.append(trObj)
			}
		}
	}


	function refreshPage() {
		$('#container').load("/infrastructure/list");
	}

</script>

<section class="content-header">
	<h1>
		节点信息
		<small>节点信息列表</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 集群管理</a></li>
		<li class="active">节点管理</li>
	</ol>
</section>

{{ $haveSelectProject := .selectedprojectid }}
<div>
	<div class="selectForm">
		<form id="InfrastructureAdd" name="InfrastructureAdd" method="post" target="_self" onsubmit="return false">
			<select name="projectid" onChange="projectChanged(this.options[this.options.selectedIndex].value)">
				{{range $index,$line := .projectinfo}}
				{{range $id, $name := $line}}
				{{if eq $haveSelectProject $id }}
				<option value="{{ $id }}" selected> {{ $name }} </option>
				{{else}}
				<option value="{{ $id }}" > {{ $name }} </option>
				{{end}}
				{{end}}
				{{end}}
			</select> &nbsp;
			<button id="buttonAdd" onclick="infrastructureAddHost() "> + 添加节点</button>&nbsp;
			<button id="buttonDel" onclick="delHostJs() " disabled> X 删除节点</button>
		</form>
	</div>
	<div class="searchForm">
		<form id="searchForm" name="search" method="post" target="_self" onsubmit="return false">
			<input type="text" name="searchKey" placeholder="Search..." autocomplete="off" onblur="doSearch(this.value)" />
		</form>
	</div>
</div>

	<form id="hostList" method="post" target="_self" onsubmit="return false">
	<table class="list-table">
		<tr>
			<th width="5%" align="left"> 
			<input type="checkbox" id="hostidth" name="hostidth[]" onclick='selectAllHostCheckbox(this.checked)'>
			<input type="hidden" name="detailshostid" id="detailshostid" value="0">
			</th>
			<th width="20%">主机名称</th>
			<th width="10%" >操作系统/版本</th>
			<th width="15%">管理IP</th>
			<th width="15%">所属项目</th>
			<th width="20%">所属集群</th>
			<th width="5%">状态</th>
			<th >操作</th>
		</tr>
		{{range $index,$line := .HostData}}
			<tr>
		   <td width="5%"> <input type="checkbox"  id="hostid[]" name="hostid[]" value="{{ $line.hostid }}" onclick='selectHostCheckbox(this.checked)'></td>
			<td > {{ $line.hostname }} </td>
			<td> {{ $line.OsVerInfo }} </td>
			<td> {{ $line.ip }} </td>
			<td> {{ $line.projectName }} </td>
			<td> {{ $line.k8sclusterid }} </td>
			<td> {{ $line.statusText }} </td>
			<td>
				<a href="#" onclick='displayHostDetails({{ $line.hostid }})'> 详情 </a>
		<!--		<a href="/infrastructure/hostdetails?hosid={{ $line.hostid }}" target="_blank">详情</a> -->
			</td>
			</tr>
		{{end}}
	</table>
</form>

<table class="foot-table">
	<tr>
		<td>
			<div class="div-foot">当前第{{ .currentpage }}页 {{ .prepage }} {{ .nextpage }} 共{{ .totalpage }}页 </div>
		</td>
	</tr>
</table>	

<div class="yum-add" id="addform">
	<form id="infrastructureAddHostForm" name="infrastructureAddHostForm" method="post" target="_self" enctype="multipart/form-data" onsubmit="return false">
		<div class="popform-title">添加新节点</div>
		<div class="yum-item">
			所属项目：
			<select name="addHostprojectid" id="addHostprojectid">
				{{range $index,$line := .projectinfo}}
				{{range $id, $name := $line}}
				{{if eq $haveSelectProject $id }}
				<option value="{{ $id }}" style="background-color: #045283;" selected > {{ $name }} </option>
				{{else}}
				<option value="{{ $id }}" style="background-color: #045283;" > {{ $name }} </option>
				{{end}}
				{{end}}
				{{end}}
			</select> &nbsp;
		</div>

		<div class="yum-item">
			节点主机名： <input id="hostname" type="text" name="hostname"> 用于节点管理和识别的主机名
			<input id="userid" type="hidden" name="userid" value="{{.userid}}">
		</div>
		<div class="yum-item">
			IP地址： <input id="ip" type="text" name="ip"> *被添加节点用于管理的IP地址或主机名。
		</div>
		<div class="yum-radio">
			地址类型：<input type="radio" name="iptype" value="4" checked="checked">IPv4 &nbsp;&nbsp;
			<input type="radio" name="iptype" value="6">IPv6 &nbsp;&nbsp;&nbsp;&nbsp;  <input type="checkbox" name="passiveMode" id="passiveMode" value="1" onClick='changeAgentMode()'> 被动模式
			<div id="divisTLS" style="display: inline"><input type="checkbox" name="agentIsTls" id="agentIsTls" value="1" onClick="enableISTLS()" > 启用TLS连接</div>
			<div id="divinsecureSkipVerify" style="display: none"><input type="checkbox" name="insecureSkipVerify" id="insecureSkipVerify" value="1" > 忽略客户端证书检查</div>
		</div>
		<div class="yum-item" id="divAgentPort">
			Agent端口： <input id="agentPort" type="text" name="agentPort"> *主动模式时，客户端侦听的端口号
		</div>
		
		<div class="yum-item" id="divCommandUri">
			指令接收地址： <input id="commandUri" type="text" name="commandUri"> *主动模式时，客户端接收指令的URI地址
		</div>
		<div class="yum-item" id="divcommandStatusUri">
			指令状态查询地址： <input id="commandStatusUri" type="text" name="commandStatusUri"> *主动模式时，从客户端获取指令状态的URI地址
		</div>
		<div class="yum-item" id="divcommandLogsUri">
			指令日志获取地址： <input id="commandLogsUri" type="text" name="commandLogsUri"> *主动模式时，从客户端获取指令日志的URI地址
		</div>
		<div class="yum-item" id="caInput" style="display: none">
			CA证书： <input id="agentCa"  type="file" name="agentCa" style="display: none" onChange='changefilevalue("agentCaDiv","agentCa")'>
			<input id="agentCaButton" type="button" name="agentCaButton" value="上传文件" onclick='clickagentCaButton("agentCa")' class="inputfilebutton">
			<div id="agentCaDiv" style="display: inline-block"></div>
			*客户端的CA证书
		</div>
		<div class="yum-item" id="certInput" style="display: none">
			TLS证书： <input id="agentCert"  type="file" name="agentCert" style="display: none" onChange='changefilevalue("agentCertDiv","agentCert")'>
			<input id="agentCertButton" type="button" name="agentCertButton" value="上传文件" onclick='clickagentCaButton("agentCert")' class="inputfilebutton">
			<div id="agentCertDiv" style="display: inline-block"></div>
			*客户端的证书
		</div>
		<div class="yum-item" id="keyInput" style="display: none">
			证书密钥： <input id="agentKey"  type="file" name="agentKey" style="display: none" onChange='changefilevalue("agentKeyDiv","agentKey")'>
			<input id="agentKeyButton" type="button" name="agentKeyButton" value="上传文件" onclick='clickagentCaButton("agentKey")' class="inputfilebutton">
			<div id="agentKeyDiv" style="display: inline-block"></div>
			*客户端证书密钥密钥
		</div>
		<div class="yum-item">
			操作系统：
			<select name="osID" id="osID" onChange="ChangeVersion(this.options[this.options.selectedIndex].value)" >
				<option value="0" style="background-color: #045283;"> --请选择系统 --</option>
				{{range $index,$line := .osList}}
				<option value="{{ $line.osid }}" style="background-color: #045283;"> {{ $line.osname }} </option>
				{{end}}
			</select>
			版本：
			<select name="osversionid" id="osversionid" onChange="ChangeYumList(this.options[this.options.selectedIndex].value)" >
				<option value="0" style="background-color: #045283;">--请选择版本--</option>
			</select>
		</div>
		<div class="yum-item">
			选择添加到主机上的Yum信息：
		</div>
		<div >
			<table width="100%" align="center" id="yumlist" class="addform-table">
				<th width="10%" align="left">
					<input type="checkbox" id="yumidth" name="yumidth[]" onclick='selectAllYumCheckbox(this.checked)'>
				</th>
				<th width="50%">名称</th>
				<th width="20%">类别</th>
				<th width="20%">用途</th>
			</table>
		</div>
		<div class="popform-button">
			<button id="add " onclick="submitAddHost() ">确定</button>
			<button id="cacel " onclick="cancelAddHost() ">关闭</button>
		</div>
	</form>
</div>

<div class="yum-add" id="detailHost">
</div>