<script type="text/javascript">
    function addYumJS() {
        var ownerid = document.getElementById("ownerid");
        if (ownerid.value == "") {
            alert("添加Yum源信息需要登录到系统!");
            return
        }
        var maskLayer = document.getElementById("maskLayer");
        maskLayer.style.zIndex = 2000
        var addProjectForm = document.getElementById("addform");
        addProjectForm.style.display = "block";
        addProjectForm.style.zIndex = 2100;
        addProjectForm.focus();
    }

    function cancelAddYum() {
        var addProjectForm = document.getElementById("addform");
        addProjectForm.style.display = "none";
        addProjectForm.style.zIndex = 0;
        var maskLayer = document.getElementById("maskLayer");
        maskLayer.style.zIndex = 0
    }

	function ChangeVersion(osid){
		var osVerList = new Array();
		{{range $index, $line := .osVerList }}
		{{ $line }}
		{{ end }}
		var newOption;
		var osVersion = document.getElementById("osversion");
		osVersion.options.length = 0; 
		
		if(osid == "0") {
			newOption = new Option("--请选择版本--", "0");
			newOption.style.backgroundColor = "#045283";
			osVersion.options.add(newOption);
		} else {
			for (var j in osVerList[osid]) {
				newOption = new Option(osVerList[osid][j][1], osVerList[osid][j][0]);
				newOption.style.backgroundColor = "#045283";
				osVersion.options.add(newOption);
			}
		}
	}


	function refreshPage() {
		$('#container').load("/registryctl/yumlist");
	}

    function changePage(urlparas) {
        var url = "/registryctl/imagelist" + urlparas;
        $('#container').load(url);
    }

	function taglist(imageid) {
		    var params = "?imageid=" + imageid
			var url = "/registryctl/taglist" + params;
			$('#container').load(url);
		}
    function selectAllCheckbox() {
        var thCheckBox = document.getElementById("yumidth");
        if (thCheckBox.checked) {
            var chklist = document.getElementsByName('yumid[]');
            for (var i = 0; i < chklist.length; i++) {
                    chklist[i].checked = true;
            }
			var buttonDel = document.getElementById("buttonDel")
			buttonDel.style.color = "#ffffff";
			buttonDel.style.background = "#3c8dbc";
			buttonDel.disabled = false;
        } else {
            var chklist = document.getElementsByName('yumid[]');
            for (var i = 0; i < chklist.length; i++) {
                    chklist[i].checked = false;
            }
			var buttonDel = document.getElementById("buttonDel")
			buttonDel.style.color = "#3c8dbc";
			buttonDel.style.background = "#cbd8df";
			buttonDel.disabled = true;
        }
    }

	function selectCheckbox() {
		var chklist = document.getElementsByName('yumid[]');
		var thCheckBox = document.getElementById("yumidth");
		var checkedItem = 0
		for (var i = 0; i < chklist.length; i++) {
			if(chklist[i].checked){
				checkedItem = checkedItem + 1; 
			}
		}
		if(checkedItem == 0) {
			var buttonDel = document.getElementById("buttonDel")
			buttonDel.style.color = "#3c8dbc";
			buttonDel.style.background = "#cbd8df";
			thCheckBox.checked = false;
			buttonDel.disabled = true;
		}else{
			var buttonDel = document.getElementById("buttonDel")
			buttonDel.style.color = "#ffffff";
			buttonDel.style.background = "#3c8dbc";
			thCheckBox.checked = true; 
			buttonDel.disabled = false;
		}
	}


    function submitAddYum() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/registryctl/yumadd",
            data: $('#addYum').serialize(), // 你的formid
            //async: false,
            error: function(xmlObj, request) {
                var errMsg = "";
                if (xmlObj.responseText == null) {
                    errMsg = "Connection error";
                } else {
                    errMsg = xmlObj.responseText;
                }
                cancelAddYum();
                var tip = document.getElementById("tip");
                tip.innerHTML = errMsg;
                tip.style.display = "block";
                setTimeout(function() {
                    var tip = document.getElementById("tip");
                    tip.style.display = "none";
                }, 5000);
            },
            success: function(result) {
                var tip = document.getElementById("tip");
                cancelAddYum();
                if (result.errorCode == 0) {
                    var messageArray = result.message;
                    var msg = "未知错误";
                    if (messageArray[0]) {
                        var msgLine = messageArray[0];
                        msg = window.atob(msgLine["msg"]);

                    }
                    tip.style.display = "block";
                    tip.style.backgroundColor = "#1f6f4a";
                    tip.style.display = "block";
                    tip.innerHTML = msg;
                    refreshPage();
                    setTimeout(function() {
                        var tip = document.getElementById("tip");
                        tip.style.display = "none";
                    }, 5000);

                    //window.location.href = "/";
                } else {
                    var messageArray = result.message;
                    var msg = "未知错误";
                    if (messageArray[0]) {
                        var msgLine = messageArray[0];
                        msg = window.atob(msgLine["msg"]);

                    }
                    tip.innerHTML = msg;
                    tip.style.display = "block";
                    setTimeout(function() {
                        var tip = document.getElementById("tip");
                        tip.style.display = "none";
                    }, 5000);
                }
            }
        });
    }

    function delYumJS() {
        if (ownerid.value == "") {
            alert("删除镜像需要登录到系统!");
            return
        }
		var chklist = document.getElementsByName('yumid[]');
		var checkedItem = 0
		for (var i = 0; i < chklist.length; i++) {
			if (chklist[i].checked) {
				checkedItem = checkedItem + 1;
			}
		}

        if (checkedItem == 0) {
            alert("没有Yum信息可以删除!");
            return
        }
        var ok = confirm("确认需要删除这些Yum信息吗？");
        if (!ok) {
            return
        }
        $.ajax({
			statusCode: {
				500: function () {
				//	refreshPage();
					var tip = document.getElementById("tip");
					tip.innerHTML = "出现服务器端错误，请稍后再试";
					tip.style.display = "block";
					setTimeout(function () {
						var tip = document.getElementById("tip");
						tip.style.display = "none";
					}, 5000);
				},
				501: function () {
				//	refreshPage();
					var tip = document.getElementById("tip");
					tip.innerHTML = "出现服务器端错误，请稍后再试";
					tip.style.display = "block";
					setTimeout(function () {
						var tip = document.getElementById("tip");
						tip.style.display = "none";
					}, 5000);
				},
				502: function() {
				//	refreshPage();
					var tip = document.getElementById("tip");
					tip.innerHTML = "出现服务器端错误，请稍后再试";
					tip.style.display = "block";
					setTimeout(function () {
						var tip = document.getElementById("tip");
						tip.style.display = "none";
					}, 5000);
				},
				
			},
            type: "POST",
            dataType: "json",
            url: "/registryctl/yumdel",
            data: $('#delYum').serialize(), // 你的formid
            //async: false,
            error: function(xmlObj, request) {
                var errMsg = "";
                if (xmlObj.responseText == null) {
                    errMsg = "Connection error";
                } else {
                    errMsg = xmlObj.responseText;
                }
                var tip = document.getElementById("tip");
                tip.innerHTML = errMsg;
                tip.style.display = "block";
                setTimeout(function() {
                    var tip = document.getElementById("tip");
                    tip.style.display = "none";
                }, 5000);
            },
            success: function(result) {
                var tip = document.getElementById("tip");
                if (result.status) {
                    tip.style.display = "block";
                    tip.style.backgroundColor = "#1f6f4a";
                    tip.style.display = "block";
                    var messageArray = result.message;
                    var msg = "未知错误";
                    if (messageArray[0]) {
                        var msgLine = messageArray[0];
                        msg = window.atob(msgLine["msg"]);

                    }
                    tip.innerHTML = msg;

                    refreshPage();
                    setTimeout(function() {
                        var tip = document.getElementById("tip");
                        tip.style.display = "none";
                    }, 5000);
                } else {
                    var messageArray = result.message;
                    var msg = "未知错误";
                    if (messageArray[0]) {
                        var msgLine = messageArray[0];
                        msg = window.atob(msgLine["msg"]);

                    }
                    tip.innerHTML = msg;
                    tip.style.display = "block";
                    setTimeout(function() {
                        var tip = document.getElementById("tip");
                        tip.style.display = "none";
                    }, 5000);
                }
            }
        });

    }

	function projectChanged(projectid) {
		var urlParam = "?projectid="+projectid;
		changePage(urlParam);
	}

	function doSearch(searchKey) {
		var urlParam = "?searchKey=" + searchKey;
		changePage(urlParam);
	}

</script>

<section class="content-header">
	<h1>
		Yum源
		<small>Yum源信息列表</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 介质管理</a></li>
		<li class="active">Yum源管理</li>
	</ol>
</section>

{{ $haveSelectProject := .selectedprojectid }}
<div>
	<div class="selectForm">
		<form id="YumAdd" name="YumAdd" method="post" target="_self" onsubmit="return false">
			<button id="buttonAdd" onclick="addYumJS() "> + 添加Yum源</button>&nbsp;
			<button id="buttonDel" onclick="delYumJS() " disabled> X 删除Yum源</button>
		</form>
	</div>
</div>

	<form id="delYum" method="post" target="_self" onsubmit="return false">
	<table class="list-table">
		<tr>
			<th width="5%" align="left"> 
				<input type="checkbox" id="yumidth" name="yumidth[]" onclick='selectAllCheckbox()'>
			</th>
			<th width="10%">名称</th>
			<th width="10%" >操作系统</th>
			<th width="5%">版本</th>
			<th width="10%">类别</th>
			<th width="10%">用途</th>
			<th width="5%">类型</th>
			<th width="5%">状态</th>
			<th >地址</th>
		</tr>
		{{range $index,$line := .yumlist}}
			<tr>
		   <td width="5%"> <input type="checkbox" id="yumid[]" name="yumid[]" value="{{ $line.Id }}" onclick='selectCheckbox()'></td> 
			<td > {{ $line.YumName }} </td>
			<td> {{ $line.OsName }} </td> 
			<td> {{ $line.VersionName }} </td>
			<td> {{ $line.TypeName }} </td>
			<td> {{ $line.Catalog }} </td>
			<td>
				{{ if eq $line.Kind "0"}}
				直连
				{{ else if eq $line.Kind "1"}}
				代理
				{{ else }}
				本地
				{{ end }}
			</td>
			<td>
				{{ if eq $line.Enabled "0"}}
				禁用
				{{ else }}
				启用
				{{ end }}
			</td>
			<td>
				{{ $line.Base_url }}
			</td>
			</tr>
		{{end}}
	</table>
</form>

<table class="foot-table">
	<tr>
		<td>
			<div class="div-foot">当前第{{ .currentpage }}页 {{ .prepage }} {{ .nextpage }} 共{{ .totalpage }}页 </div>
		</td>
	</tr>
</table>	

<div class="yum-add" id="addform">
	<form id="addYum" method="post" target="_self" onsubmit="return false">
		<div class="popform-title">新建Yum源</div>
		<div class="popform-item">
			所属对象：
			<select name="typeid" id="typeid" >
				{{range $index,$line := .ojbList}}
					<option value="{{ $line.typeID }}" style="background-color: #045283;"> {{ $line.name }} </option>
				{{end}}
			</select>
			<div id="osSelect">
			适用系统：
			<select name="os" id="os" onChange="ChangeVersion(this.options[this.options.selectedIndex].value)" >
				<option value="0" style="background-color: #045283;"> --请选择系统 --</option>
				{{range $index,$line := .osList}}
				<option value="{{ $line.osid }}" style="background-color: #045283;"> {{ $line.osname }} </option>
				{{end}}
			</select>
			版本：
			<select name="osversion" id="osversion" >
				<option value="0" style="background-color: #045283;">--请选择版本--</option>
			</select>
		</div>
		</div>
		<div class="yum-item">
			Yum名称： <input id="name" type="text" name="name"> *Yum源的名称，该名称将作为yum.conf中配置块的名称。
			<input id="ownerid" type="hidden" name="ownerid" value="{{.userid}}">
		</div>
		<div class="yum-item">
			Yum用途： <input id="catalog" type="text" name="catalog"> Base, Upload,Plus 等等，可以不填。
		</div>
		<div class="yum-radio">
			类型： <input type="radio" name="kind" value="0" checked="checked"> 直连 &nbsp;&nbsp;
			<input type="radio" name="kind" value="1"> 代理 &nbsp;&nbsp;
			<input type="radio" name="kind" value="2"> 本地 &nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		<div class="yum-radio">
			状态：<input type="radio" name="enabled" value="1" checked="checked">启用 &nbsp;&nbsp;
			<input type="radio" name="enabled" value="0" >禁用 &nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		<div class="yum-radio">
			GPG校验：<input type="radio" name="gpgcheck" value="1" checked="checked">校验 &nbsp;&nbsp;
			<input type="radio" name="gpgcheck" value="0">不校验 &nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		<div class="yum-item">
			目标URL： <input id="base_url" type="text" name="base_url"> *代理或直连的目标YUM源URL地址
		</div>
		<div class="yum-item">
			GPG KEY路径： <input id="gpgkey" type="text" name="gpgkey"> *GPG KEY文件本地路径，或YUM源对应URL路径。
		</div>
		<div class=" popform-button ">
			<button id="add " onclick="submitAddYum() ">确定</button>
			<button id="cacel " onclick="cancelAddYum() ">关闭</button>
		</div>
	</form>
</div>