.table-top {
    position: relative;
    border-radius: 0;
    width: 100%;
    height: 50px;
    border: 0px;
    top: 30px;
    left: 10px;
    font-size: 18px;
    color: #000;
}

.table-top button {
    position: relative;
    width: 100px;
    height: 40px;
    left: 30px;
    border: 1px solid #4CAF50;
    background-color: #3c8dbc;
    font-size: 18px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.list-table {
    position: relative;
    border-radius: 0;
    width: 100%;
    border-color: #3c8dbc;
    border-style: solid;
    top: 30px;
    left: 10px;
    font-size: 12px;
    color: #000;
    padding: 5px;
    padding-bottom: 50px;
}

.list-table th {
    position: relative;
    align-items: center;
    border-radius: 0;
    font-size: 14px;
    background-color: #3c8dbc;
    color: #fff;
    text-align: center;
}

.list-table td {
    position: relative;
    align-items: center;
    border-width: 1px;
    border-color: #3c8dbc;
    border-style: solid;
    padding: 5px;
}

.foot-table {
    position: relative;
    border-radius: 0;
    width: 100%;
    top: 30px;
    left: 10px;
    font-size: 12px;
    color: #000;
    padding: 5px;
    padding-bottom: 50px;
}

.foot-table td {
    position: relative;
    padding: 5px;
}

.div-foot {
    text-align: right;
    padding-bottom: 50px;
    border-width: 0px;
}

.pop-form {
    display: none;
    position: absolute;
    left: 400px;
    top: 100px;
    width: 500px;
    font-size: 12px;
    color: #fff;
    background-color: #045283;
    font-size: 12px;
    border: 1px solid #fff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 50px;
}

.popform-title {
    position: relative;
    border-radius: 0;
    width: 100%;
    border-width: 0px;
    top: 20px;
    padding-bottom: 30px;
    left: 15px;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    text-align: left;
}

.popform-item {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    top: 30px;
    left: 30px;
}

.popform-item input {
    width: 60%;
    height: 20px;
    padding-left: 5px;
    font-size: 14px;
    border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    color: #fff;
    background-color: transparent;
    outline: none;
}

.popform-textarea {
    width: 90%;
    padding-left: 5px;
    font-size: 14px;
    border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    color: #fff;
    background-color: #045283;
    outline: none;
}


.popform-button {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding-bottom: 10px;
    top: 70px;
    text-align: center;
}

.popform-button button {
    width: 100px;
    height: 30px;
    border: 0;
    font-size: 18px;
    color: #045283;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    align-self: center;
}

.yum-add {
    display: none;
    position: absolute;
    left: 400px;
    top: 100px;
    width: 600px;
    font-size: 12px;
    color: #fff;
    background-color: #045283;
    font-size: 12px;
    border: 1px solid #fff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 50px;
}

.yum-add #osSelect {
	padding-right: 70px;
	float: right;
}

.yum-add select {
	top: 5px;
	left:10px;
	width: 100px;
    height: 20px;
	border:1px solid; 
	color: #fff;
	border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
	background-color: transparent;
}


.yum-item {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    top: 30px;
    left: 30px;
}

.yum-item input {
    width: 30%;
    height: 20px;
    padding-left: 5px;
    font-size: 14px;
    border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    color: #fff;
    background-color: transparent;
    outline: none;
}

.yum-radio {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    top: 30px;
    left: 30px;
}

.form-item input#username {
    background: url("../images/user.png") 0px 0px no-repeat;
}

.form-item input#password {
    background: url("../images/passwd.png") 0px 0px no-repeat;
}

.maskLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    z-Index: 0;
}

.tip {
    display: none;
    position: absolute;
    left: 600px;
    top: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #ff0000;
    font-size: 18px;
    border: 1px solid #fff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-Index: 2000;
}

.selectForm {
	position: relative;
	top: 10px;
	left:10px;
	float: left;
}

.selectForm select {
	top: 10px;
	left:10px;
	width: 200px;
    height: 30px;
	border:1px solid; 
	border-bottom-width: 1px;
    border-color: #045283;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
	background-color: transparent;
}

.selectForm button#buttonAdd {
	border-radius: 5px;
	width: 100px;
    height: 40px;
	border:1px solid; 
	color: #fff;
	font-size: 14px;
	font-style: solid;
	font-weight: bold;
	border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
	border-bottom-width: 1px;
	background-color: #3c8dbc;
}

.selectForm button#buttonDel {
	border-radius: 5px;
	width: 100px;
    height: 40px;
	border:1px solid; 
	color: #3c8dbc;
	font-size: 14px;
	font-style: solid;
	font-weight: bold;
	border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
	border-bottom-width: 1px;
	background-color: #cbd8df;
	
}


.buttonDel {
	border-radius: 5px;
	width: 100px;
    height: 40px;
	border:1px solid; 
	color: #3c8dbc;
	font-size: 14px;
	font-style: solid;
	font-weight: bold;
	border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
	border-bottom-width: 1px;
	background-color: #cbd8df;
}


.buttonAdd {
	position: relative;
	top: 10px;
	border-radius: 5px;
	width: 100px;
    height: 40px;
	border:1px solid; 
	color: #fff;
	font-size: 14px;
	font-style: solid;
	font-weight: bold;
	border-bottom-width: 1px;
    border-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
	border-bottom-width: 1px;
	background-color: #3c8dbc;
}


.div-addDescription {
    text-align: left;
    padding-bottom: 50px;
    border-width: 0px;
}

.searchForm {
	float: right;
	position: relative;
	top: 10px;
	right:10px;
}

.searchForm input {
	top: 10px;
	right:10px;
	width: 200px;
    height: 30px;
	border:1px solid; 
	border-bottom-width: 1px;
    border-color: #045283;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
	background-color: transparent;
}

.messageBox {
    position: relative;
	top: 100px;
	left: 200px;
    width: 500px;
	height: 300px;
    font-size: 12px;
   	background-color: #3c8dbc;
    border: 0px solid #ff0000;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.messageBox span {
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 18px;
	text-align: center;
	color: #f00000;
	font-weight: bold;
}

.addform-table {
	position: relative;
	border-radius: 0;
	width: 90%;
	border-color: #fff;
	background-color: #045283; 
	border-width: 1px;
	border-style: solid;
	top: 35px;
	left: 0px;
	font-size: 12px;
	color: #fff;
}

.addform-table td {
	background-color: #045283;
	color: #fff;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	align-items: center;
	padding-left: 5px;
}

.addform-table th {
	background-color: #045283;
	color: #fff;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	align-items: center;
	text-align: center;
}