                * {
                    margin: 0;
                    padding: 0;
                }
                
                html {
                    height: 100%;
                }
                
                body {
                    height: 100%;
                    background: #fff url(/images/1.jpg) 50% 50% no-repeat;
                    background-size: cover;
                }
                
                .dowebok {
                    position: relative;
                    left: 30%;
                    top: 50px;
                    width: 430px;
                    height: 370px;
                    margin: 0px 0 0px -0px;
                    border: 1px solid #fff;
                    border-radius: 20px;
                    overflow: hidden;
                }
                
                .logo {
                    width: 330px;
                    height: 80px;
                    margin: 15px auto 10px;
                    background: url(/images/admin_big.png) 0 0 no-repeat;
                }
                
                .form-item {
                    position: relative;
                    width: 360px;
                    margin: 0 auto;
                    padding-bottom: 30px;
                }
                
                .form-item input {
                    width: 288px;
                    height: 48px;
                    padding-left: 70px;
                    border: 1px solid #fff;
                    border-radius: 25px;
                    font-size: 18px;
                    color: #fff;
                    background-color: transparent;
                    outline: none;
                }
                
                .form-item button {
                    width: 360px;
                    height: 50px;
                    border: 0;
                    border-radius: 25px;
                    font-size: 18px;
                    color: #1f6f4a;
                    outline: none;
                    cursor: pointer;
                    background-color: #fff;
                }
                
                .form-item input#username {
                    background: url("../images/user.png") 0px 0px no-repeat;
                }
                
                .form-item input#password {
                    background: url("../images/passwd.PNG") 0px 0px no-repeat;
                }
                
                .tip {
                    display: none;
                    position: absolute;
                    left: 600px;
                    top: 10px;
                    font-size: 12px;
                    color: #fff;
                    background-color: #ff0000;
                    font-size: 18px;
                    border: 1px solid #fff;
                    padding-right: 10px;
                    padding-left: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                /*
				.reg-bar {
                    width: 360px;
                    margin: 20px auto 0;
                    font-size: 14px;
                    overflow: hidden;
                }
                
                .reg-bar a {
                    color: #fff;
                    text-decoration: none;
                }
                
                .reg-bar a:hover {
                    text-decoration: underline;
                }
                
                .reg-bar .reg {
                    float: left;
                }
                
                .reg-bar .forget {
                    float: right;
                }
                
                dowebok ::-webkit-input-placeholder {
                    font-size: 18px;
                    line-height: 1.4;
                    color: #fff;
                }
                
                .dowebok :-moz-placeholder {
                    font-size: 18px;
                    line-height: 1.4;
                    color: #fff;
                }
                
                .dowebok ::-moz-placeholder {
                    font-size: 18px;
                    line-height: 1.4;
                    color: #fff;
                }
                
                .dowebok :-ms-input-placeholder {
                    font-size: 18px;
                    line-height: 1.4;
                    color: #fff;
                }
                
                @media screen and (max-width: 500px) {
                    * {
                        box-sizing: border-box;
                    }
                    .dowebok {
                        position: static;
                        width: auto;
                        height: auto;
                        margin: 0 30px;
                        border: 0;
                        border-radius: 0;
                    }
                    .logo {
                        margin: 50px auto;
                    }
                    rm-item {
                        width: auto;
                    }
                    .form-item i n put,
                    .form-i t em button,
                    .reg-bar {
                        width: 100%;
                    }
                }
                
                */